body {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

div {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}

p#type {
  color: #d80546;
}
